<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application>
        <receiver android:name="it.gameshield.AdminReceiver" tools:node="remove" />
        <activity android:name="it.gameshield.NormalDisableActivity" android:exported="false" />
        <activity android:name="it.gameshield.NormalSettingsActivity" android:exported="false" />
        <service android:name="it.gameshield.ShieldVpnService" android:foregroundServiceType="specialUse">
            <meta-data android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON" android:value="false" />
        </service>
    </application>
</manifest>
